{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>NAVBAR CLASS {{request.COOKIES.user_email}} </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand navbar-dark bg-dark">
                    <a href="" class="navbar-brand">Navbar brand</a>
                    <button data-toggle="collapse" data-target="#mynav" class="navbar-toggler">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                   <div class="collapse navbar-collapse" id="mynav">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">Home</a>
                        </li>
                        {%if user.is_authenticated%}
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{%url 'dashboard' %}">Dashboard</a>
                        </li>
                        {%else%}
                            <li class="nav-item">
                                <a class="nav-link" href="{%url 'registerView' %}">Register</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="">Login</a>
                            </li>
                        {%endif%}
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                   </div>
                </nav>
            </div>
        </div>
        {% block 'main_content' %}{% endblock %}
        <div class="bg-dark">
            <h2>Footer</h2>
        </div>
    </div>


</body>
</html>