{% extends 'base.html' %}

{% block 'main_content' %}
    <h1>Welcome {{request.COOKIES.user_email}}</h1>
    <h1>Id {{request.COOKIES.user_id}}</h1>

    {% for i in data %}
        <img src="/media/{{i.profile_img}}" class="w-25" alt="s">
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>S no</th>
                            <th>Age</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Pincode</th>
                        </tr>
                    </thead>
                    <tbody id="myData"></tbody>
                </table>
            </div>
            <div class="col-md-6 mx-auto">
                <p class="text-center" id="msg"></p>
                <select name="" id="gender" class="form-control mt-3">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                </select>
                <input type="number" id='age' class="form-control mt-3" placeholder="age">                
                <input type="text" id="city" class="form-control mt-3" placeholder="city">                
                <input type="text" id="state" class="form-control mt-3" placeholder="state">                
                <input type="number" id="pincode" class="form-control mt-3" placeholder="pincode">                
                <input onclick="addDetails()" type="submit" value="Add Details" class="btn btn-success mt-3">
            </div>
        </div>

        <script>

            function getData(){
                $.ajax({
                    url:'{% url "get_details" %}',
                    type:'get',
                    data:{getDetails:'getData'},
                    success:function(data){
                        let tag_name = ''
                        for(let i=0 ; i<data.length ; i++){
                            tag_name += '<tr>'
                                tag_name += "<td>"+(i+1)+"</td>"
                                tag_name += "<td>"+(data[i].age)+"</td>"
                                tag_name += "<td>"+(data[i].city)+"</td>"
                                tag_name += "<td>"+(data[i].state)+"</td>"
                                tag_name += "<td>"+(data[i].pincode)+"</td>"
                            tag_name += '</tr>'
                        }
                        $('#myData').html(tag_name)
                    }   
                })
            }
            getData()
            function addDetails(){
                let gender = $('#gender').val()
                let age = $('#age').val()
                let city = $('#city').val()
                let state = $('#state').val()
                let pincode = $('#pincode').val()
                // AJAX
                $.ajax({
                    url:'{% url "add_details" %}',
                    type:'post',
                    data:{csrfmiddlewaretoken:'{{csrf_token}}',g:gender,a:age,c:city,s:state,p:pincode},
                    success:function(data){
                        if(data == 1){
                            $('#msg').html('Details added')
                            $('#msg').css('color','green')
                        }
                    }
                })
            }

        </script>

{% endblock %}