<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for f in editDetails%}
        <form action="{%url 'updateDetails'%}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id_" value="{{f.id}}">
            <input type="name" name="name" value="{{f.name}}">
            <input type="email" name="email" value="{{f.email}}">
            <input type="number" name="contact" value="{{f.contact}}">
            <input type="submit" value="update">
        </form>
    
    {% endfor %}
    
</body>
</html>