{% extends 'base.html' %}

{% block 'main_content' %}
    <div class="row">
        
        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li{% if message.tags %} class="list-group-item"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}


        <div class="col-md-8">
            <table class="table table-bordered table-hover table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>S no</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Number</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {%for d in data%}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.email}}</td>
                        <td>{{d.contact}}</td>
                        <td>{{d.message}}</td>
                        <td>
                            <a href="{% url 'index' %}?id={{d.id}}"><button>Edit</button></a>
                            <a href="{% url 'index' %}?delId={{d.id}}"><button>Delete</button></a>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-md-4 mx-auto border m-2">
            <form method="post">
                {% csrf_token %}
                <input type="text" class="form-control mt-3" placeholder="Enter your name" name="name">
                <input type="text" class="form-control mt-3" placeholder="Enter your email" name="email">
                <input type="number" class="form-control mt-3" placeholder="Enter your number" name="number">
                <textarea type="text" class="form-control mt-3" placeholder="Enter your message" name="message"></textarea>
                <input type="submit" class="btn btn-success my-3">
            </form>
        </div>
    </div>

{% endblock %}

    