{% extends 'base.html' %}

{% block 'main_content' %}

        {% if messages %}
        <ul class="list-group">
            {% for message in messages %}
            <li{% if message.tags %} class="list-group-item"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="text" placeholder="username" name='username'>
    <input type="email" placeholder="email" name='email'>
    <input type="number" placeholder="number" name='number'>
    <input type="password" placeholder="password" name='password'>
    <input type="password" placeholder="Confirm password" name='conf_password'>
    <input type="file" name='pro_img'>
    <input type="submit" value="Register" name="reg">
</form>

<hr>
<hr>
<hr>

<h2>Login</h2>

<form action="" method="post">
    {% csrf_token %}
        <input type="email" name="email">
        <input type="password" name="password">
        <input type="submit" value="Login" name="login">
</form>

{% endblock %}