{% extends 'base.html' %}

{% block 'main_content' %}
 <div class="row">
    <div class="col-md-6">
        <h2>Rest Countries</h2>
        <button onclick="clickBtn()">clickBtn</button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S no</th>
                <th>Name</th>
                <th>Capital</th>
                <th>Flag</th>
            </tr>
        </thead>
        <tbody id="myData"></tbody>
    </table>
 </div>

 <script>
    clickBtn =()=>{
        $.ajax({
        url:'https://restcountries.eu/rest/v2/all',
        success:function(data){
            let tag_name = ''
                        for(let i=0 ; i<data.length ; i++){
                            tag_name += '<tr>'
                                tag_name += "<td>"+(i+1)+"</td>"
                                tag_name += "<td>"+data[i].name+"</td>"
                                tag_name += "<td>"+data[i].capital+"</td>"
                                tag_name += "<td><img src='"+data[i].flag+"' class='w-25'></td>"
                            tag_name += '</tr>'
                        }
                        $('#myData').html(tag_name)
        }
        })
    }



 </script>



{% endblock %}